@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@700&display=swap');

.container-grid {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  
}

.example-card {
  width: 100%;
  max-width: 700px;
  margin-top: 100px;
  border-radius: 20px; 
  overflow: hidden;
}

.cardContent {
  padding: 24px;
}

.formField{
  width: 100%;
  font-size: large;
}

.example-container {
  flex-basis: calc(40% - 20px); /* Adjust the width and spacing as needed */
}

.example-container input {
  width: 100%;
  box-sizing: border-box;
}

.toolBar {
  justify-content: center;
  height: 100px;
}

.text-center {
  font-size: 3rem;
  text-align: center;
  color:  #4CAF50;
  font-family: 'Lexend Deca', sans-serif;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  color: #fff;
  font-family: 'Lexend Deca', sans-serif;
  width: 100%;
}

@media (max-width: 768px) {
  .example-container {
    flex-basis: 100%;
  }
}