<div class="wrapper">
  <div class="sidebar" [class.show-sidebar]="isShowMenu">
    <div class="logo">Logo</div>
    <nav>
      <div class="link" routerLink="/dashboard" routerLinkActive="link-active">
        <mat-icon fontIcon="dashboard"></mat-icon>Dashboard
      </div>
      <div class="link" routerLink="/products" routerLinkActive="link-active">
        <mat-icon fontIcon="inventory"></mat-icon>Products
      </div>
      <div class="link" routerLink="/users" routerLinkActive="link-active">
        <mat-icon fontIcon="person"></mat-icon>Users
      </div>
    </nav>
  </div>
  <main>
    <header>
      <div class="left-nav">
        <div class="icon icon-menu" (click)="toggleMenu()">
          <i class="bi bi-list" *ngIf="!isShowMenu"></i>
          <i class="bi bi-x" *ngIf="isShowMenu"></i>
        </div>
        <div class="location">Dashboard</div>
      </div>
      <div class="icon icon-profile">
        <mat-icon fontIcon="person"></mat-icon><span>Logout</span>
      </div>
    </header>
    <div class="main-container"></div>
  </main>
</div>
