
<app-header></app-header>
<div class="container">
    <div class="title">
        <h1 class="mb-4">My Cart</h1>
    </div>
    <div class="row">
        <div class="col">
            <!-- Item on Cart -->
            <div class="items">
                <div class="row g-0 ms-4">
                    <div class="col-md-2 me-2 text-center">
                        <div class="row m-0 p-0">
                            <!-- CheckBox -->
                            <div class="col-1 pt-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                </div>
                            </div>
                            <!-- Image -->
                            <div class="col-9">
                                <img src="//cdn.shopify.com/s/files/1/2227/7667/files/FSPDaggerPROGoldSFXGen5850W80_FullModularSDA2-850Gen5PowerSupply_1024x1024.jpg?v=1683275183"/>
                            </div>
                        </div>
                    </div>
                    <!-- Details -->
                    <div class="col-md-9">
                        <div class="row">
                            <!-- Item Name -->
                            <div class="col-sm me-4 mb-2 text-truncate">FSP Dagger PRO Gold SFX Gen5 850W 80+ Full Modular SDA2-850 Gen5 Power Supply</div>
                            <!-- Item Price -->
                            <div class="col-sm">₱7,250.00</div>
                            <!-- Quantity -->
                            <div class="col-sm-2 mt-2">
                                <div class="input-group">
                                    <button class="btn btn-outline-secondary" type="button" aria-expanded="">-</button>
                                    <input type="number" class="form-control" aria-label="">
                                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="" aria-expanded="">+</button>
                                </div>
                            </div>
                            <!-- Delete Button -->
                            <div class="col-sm-1 d-flex justify-content-end">
                                <button class="deleteBtn m-3" type="button" id="button-addon2">
                                    <i class="bi bi-trash3-fill"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item on Cart -->
            <div class="items">
                <div class="row g-0 ms-4">
                    <div class="col-md-2 me-2 text-center">
                        <div class="row m-0 p-0">
                            <!-- CheckBox -->
                            <div class="col-1 pt-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                </div>
                            </div>
                            <!-- Image -->
                            <div class="col-9">
                                <img src="//cdn.shopify.com/s/files/1/2227/7667/files/FSPDaggerPROGoldSFXGen5850W80_FullModularSDA2-850Gen5PowerSupply_1024x1024.jpg?v=1683275183"/>
                            </div>
                        </div>
                    </div>
                    <!-- Details -->
                    <div class="col-md-9">
                        <div class="row">
                            <!-- Item Name -->
                            <div class="col-sm me-4 mb-2 text-truncate">FSP Dagger PRO Gold SFX Gen5 850W 80+ Full Modular SDA2-850 Gen5 Power Supply</div>
                            <!-- Item Price -->
                            <div class="col-sm">₱7,250.00</div>
                            <!-- Quantity -->
                            <div class="col-sm-2 mt-2">
                                <div class="input-group">
                                    <button class="btn btn-outline-secondary" type="button" aria-expanded="">-</button>
                                    <input type="number" class="form-control" aria-label="">
                                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="" aria-expanded="">+</button>
                                </div>
                            </div>
                            <!-- Delete Button -->
                            <div class="col-sm-1 d-flex justify-content-end">
                                <button class="deleteBtn m-3" type="button" id="button-addon2">
                                    <i class="bi bi-trash3-fill"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item on Cart -->
            <div class="items">
                <div class="row g-0 ms-4">
                    <div class="col-md-2 me-2 text-center">
                        <div class="row m-0 p-0">
                            <!-- CheckBox -->
                            <div class="col-1 pt-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                </div>
                            </div>
                            <!-- Image -->
                            <div class="col-9">
                                <img src="//cdn.shopify.com/s/files/1/2227/7667/files/FSPDaggerPROGoldSFXGen5850W80_FullModularSDA2-850Gen5PowerSupply_1024x1024.jpg?v=1683275183"/>
                            </div>
                        </div>
                    </div>
                    <!-- Details -->
                    <div class="col-md-9">
                        <div class="row">
                            <!-- Item Name -->
                            <div class="col-sm me-4 mb-2 text-truncate">FSP Dagger PRO Gold SFX Gen5 850W 80+ Full Modular SDA2-850 Gen5 Power Supply</div>
                            <!-- Item Price -->
                            <div class="col-sm">₱7,250.00</div>
                            <!-- Quantity -->
                            <div class="col-sm-2 mt-2">
                                <div class="input-group">
                                    <button class="btn btn-outline-secondary" type="button" aria-expanded="">-</button>
                                    <input type="number" class="form-control" aria-label="">
                                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="" aria-expanded="">+</button>
                                </div>
                            </div>
                            <!-- Delete Button -->
                            <div class="col-sm-1 d-flex justify-content-end">
                                <button class="deleteBtn m-3" type="button" id="button-addon2">
                                    <i class="bi bi-trash3-fill"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item on Cart -->
            <div class="items">
                <div class="row g-0 ms-4">
                    <div class="col-md-2 me-2 text-center">
                        <div class="row m-0 p-0">
                            <!-- CheckBox -->
                            <div class="col-1 pt-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                </div>
                            </div>
                            <!-- Image -->
                            <div class="col-9">
                                <img src="//cdn.shopify.com/s/files/1/2227/7667/files/FSPDaggerPROGoldSFXGen5850W80_FullModularSDA2-850Gen5PowerSupply_1024x1024.jpg?v=1683275183"/>
                            </div>
                        </div>
                    </div>
                    <!-- Details -->
                    <div class="col-md-9">
                        <div class="row">
                            <!-- Item Name -->
                            <div class="col-sm me-4 mb-2 text-truncate">FSP Dagger PRO Gold SFX Gen5 850W 80+ Full Modular SDA2-850 Gen5 Power Supply</div>
                            <!-- Item Price -->
                            <div class="col-sm">₱7,250.00</div>
                            <!-- Quantity -->
                            <div class="col-sm-2 mt-2">
                                <div class="input-group">
                                    <button class="btn btn-outline-secondary" type="button" aria-expanded="">-</button>
                                    <input type="number" class="form-control" aria-label="">
                                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="" aria-expanded="">+</button>
                                </div>
                            </div>
                            <!-- Delete Button -->
                            <div class="col-sm-1 d-flex justify-content-end">
                                <button class="deleteBtn m-3" type="button" id="button-addon2">
                                    <i class="bi bi-trash3-fill"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item on Cart -->
            <div class="items">
                <div class="row g-0 ms-4">
                    <div class="col-md-2 me-2 text-center">
                        <div class="row m-0 p-0">
                            <!-- CheckBox -->
                            <div class="col-1 pt-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                </div>
                            </div>
                            <!-- Image -->
                            <div class="col-9">
                                <img src="//cdn.shopify.com/s/files/1/2227/7667/files/FSPDaggerPROGoldSFXGen5850W80_FullModularSDA2-850Gen5PowerSupply_1024x1024.jpg?v=1683275183"/>
                            </div>
                        </div>
                    </div>
                    <!-- Details -->
                    <div class="col-md-9">
                        <div class="row">
                            <!-- Item Name -->
                            <div class="col-sm me-4 mb-2 text-truncate">FSP Dagger PRO Gold SFX Gen5 850W 80+ Full Modular SDA2-850 Gen5 Power Supply</div>
                            <!-- Item Price -->
                            <div class="col-sm">₱7,250.00</div>
                            <!-- Quantity -->
                            <div class="col-sm-2 mt-2">
                                <div class="input-group">
                                    <button class="btn btn-outline-secondary" type="button" aria-expanded="">-</button>
                                    <input type="number" class="form-control" aria-label="">
                                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="" aria-expanded="">+</button>
                                </div>
                            </div>
                            <!-- Delete Button -->
                            <div class="col-sm-1 d-flex justify-content-end">
                                <button class="deleteBtn m-3" type="button" id="button-addon2">
                                    <i class="bi bi-trash3-fill"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item on Cart -->
            <div class="items">
                <div class="row g-0 ms-4">
                    <div class="col-md-2 me-2 text-center">
                        <div class="row m-0 p-0">
                            <!-- CheckBox -->
                            <div class="col-1 pt-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                </div>
                            </div>
                            <!-- Image -->
                            <div class="col-9">
                                <img src="//cdn.shopify.com/s/files/1/2227/7667/files/FSPDaggerPROGoldSFXGen5850W80_FullModularSDA2-850Gen5PowerSupply_1024x1024.jpg?v=1683275183"/>
                            </div>
                        </div>
                    </div>
                    <!-- Details -->
                    <div class="col-md-9">
                        <div class="row">
                            <!-- Item Name -->
                            <div class="col-sm me-4 mb-2 text-truncate">FSP Dagger PRO Gold SFX Gen5 850W 80+ Full Modular SDA2-850 Gen5 Power Supply</div>
                            <!-- Item Price -->
                            <div class="col-sm">₱7,250.00</div>
                            <!-- Quantity -->
                            <div class="col-sm-2 mt-2">
                                <div class="input-group">
                                    <button class="btn btn-outline-secondary" type="button" aria-expanded="">-</button>
                                    <input type="number" class="form-control" aria-label="">
                                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="" aria-expanded="">+</button>
                                </div>
                            </div>
                            <!-- Delete Button -->
                            <div class="col-sm-1 d-flex justify-content-end">
                                <button class="deleteBtn m-3" type="button" id="button-addon2">
                                    <i class="bi bi-trash3-fill"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="fixed-bottom">
            <div class="row checkoutCont">
                <div class="col-8">
                    <!-- Select All button -->
                    <div class="form-check selectAll">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <h4 class="form-check-label" for="flexCheckDefault">
                            Select All
                        </h4>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-end mt-1">
                    <h4 class="mt-1">₱797,250</h4>
                    <button type="button" class="btn btn-success checkoutBtn" (click)="checkout()">CHECKOUT(11)</button>
                </div>
            </div>
        </div>
    </div>
</div>