<app-header></app-header>
<div class="container">
    <div class="title">
        <h1>Checkout</h1>
    </div>
    <hr/>
    <div class="row rowCont d-flex justify-content-center">
        <div class="col-md-7 col1">
            <div class="shippingAddressCont">
                <div class="row pt-2 ps-2 pe-2">
                    <div class="col-6">
                        <p>Shipping address</p>
                    </div>
                    <div class="col-6">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="editAddressBtn">Edit</button>
                        </div>
                    </div>
                </div>
                <div class="border-top p-2">
                    <label>Sandra Gesite</label>&nbsp;&nbsp;<label>09875756432</label>
                    <p>Any St.,Palanan, Makati City, Metro Manila</p>
                </div>
            </div>
            <!-- Item on Cart -->
            <div class="items">
                <div class="row g-0 ms-4">
                    <div class="col-2 me-4 text-center">
                        <!-- Image -->
                        <img src="//cdn.shopify.com/s/files/1/2227/7667/files/FSPDaggerPROGoldSFXGen5850W80_FullModularSDA2-850Gen5PowerSupply_1024x1024.jpg?v=1683275183"/>
                     </div>
                    <!-- Details -->
                    <div class="col-8">
                        <div class="row mt-3">
                            <!-- Item Name -->
                            <div class="col-sm-6 me-4 mb-2 text-truncate">FSP Dagger PRO Gold SFX Gen5 850W 80+ Full Modular SDA2-850 Gen5 Power Supply</div>
                            <!-- Item Price -->
                            <div class="col-sm-3">₱7,250.00</div>
                            <!-- Quantity -->
                            <div class="col-sm">Qty: 1</div>
                        </div>
                    </div>
                </div>

                <div class="row g-0 ms-4">
                    <div class="col-2 me-4 text-center">
                        <!-- Image -->
                        <img src="//cdn.shopify.com/s/files/1/2227/7667/files/FSPDaggerPROGoldSFXGen5850W80_FullModularSDA2-850Gen5PowerSupply_1024x1024.jpg?v=1683275183"/>
                     </div>
                    <!-- Details -->
                    <div class="col-8">
                        <div class="row mt-3">
                            <!-- Item Name -->
                            <div class="col-sm-6 me-4 mb-2 text-truncate">FSP Dagger PRO Gold SFX Gen5 850W 80+ Full Modular SDA2-850 Gen5 Power Supply</div>
                            <!-- Item Price -->
                            <div class="col-sm-3">₱7,250.00</div>
                            <!-- Quantity -->
                            <div class="col-sm">Qty: 1</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col2">
            <div class="orderSummaryCont">
                <h2>Order Summary</h2>
                <div class="row border-bottom">
                    <div class="col-8">
                        <label>Subtotal (2 Items)</label>
                    </div>
                    <div class="col-4">
                        <h3>₱14,500.00</h3>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-8">
                        <h4>Total Payment:</h4>
                    </div>
                    <div class="col-4">
                        <h3>₱14,500.00</h3>
                    </div>
                </div>
                <button type="button" class="btn btn-success placeOrderBtn">Place Order</button>
            </div>
        </div>
    </div>
</div>
