.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(76, 175, 80);
}

svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.form-container {
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  border-radius: 0.25rem;
  background-color: rgb(255, 255, 255);
  z-index: 10;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

label {
  margin: 0;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form-control {
  height: 40px;
  border-radius: 0px;
  border: none;
}

.form-control:focus {
  box-shadow: inset 0px -10px 10px -10px rgba(198, 253, 211, 0.75);
}

// form validation
.validation {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: red;
}

.forgot-password {
  text-align: right;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}

button {
  margin-top: 0.5rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
}

.no-acc {
  text-align: center;
}

.no-acc span {
  color: rgb(76, 175, 80);
  cursor: pointer;
}

.no-acc span:hover {
  text-decoration: underline;
}

.ball1,
.ball2,
.ball3,
.ball4,
.ball5,
.ball6 {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
}

.ball1 {
  width: 100px;
  height: 100px;
  bottom: 25rem;
  right: 16rem;
  animation: float1 2s infinite alternate;
}

.ball2 {
  width: 200px;
  height: 200px;
  top: 20rem;
  right: 20rem;
  animation: float2 2s infinite alternate;
}

.ball3 {
  width: 150px;
  height: 150px;
  top: 60rem;
  right: 45rem;
  animation: float3 2s infinite alternate;
}

.ball4 {
  width: 220px;
  height: 220px;
  bottom: 50rem;
  left: 17rem;
  animation: float4 2s infinite alternate;
}

.ball5 {
  width: 120px;
  height: 120px;
  bottom: 100rem;
  right: 66rem;
  animation: float5 2s infinite alternate;
}

.ball6 {
  width: 100px;
  height: 100px;
  top: 84rem;
  left: 15rem;
  animation: float6 2s infinite alternate;
}

@keyframes float1 {
  from {
    transform: translate(33%, 80%);
  }
  to {
    transform: translate(-88%, -45%);
  }
}

@keyframes float2 {
  from {
    transform: translate(25%, 56%);
  }
  to {
    transform: translate(-79%, -35%);
  }
}

@keyframes float3 {
  from {
    transform: translate(91%, 40%);
  }
  to {
    transform: translate(-32%, -76%);
  }
}

@keyframes float4 {
  from {
    transform: translate(44%, 66%);
  }
  to {
    transform: translate(-82%, -39%);
  }
}

@keyframes float5 {
  from {
    transform: translate(17%, 70%);
  }
  to {
    transform: translate(-22%, -44%);
  }
}

@keyframes float6 {
  from {
    transform: translate(10%, 68%);
  }
  to {
    transform: translate(-33%, -66%);
  }
}
